@require '../../style/colors.styl'

#blog
  .callout
    background $theme-color--primary
    color contrast($theme-color--primary)

  .yeah
    background lime

  .post-preview
    align-items center
    display flex

  .read-more
    margin-left $margin-large
    margin-right $margin-medium

  h2
    margin-bottom 0

  .date
    font-size $font-medium
